# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Static
staticfiles/

# Media
media/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db