# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# SQLite
db.sqlite3

# Django
*.log
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# Python Environment
.env

# Distribution
build/
dist/
*.egg-info/