body {
  background: #f5f7fa;

  min-height: 100vh;

  display: flex;

  flex-direction: column;
}

main {
  flex: 1;
}

.navbar-brand {
  font-size: 26px;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: #ffd54f !important;
}

footer {
  margin-top: auto;
}

.card {
  border: none;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
/* Hero Section */

.hero-section {
  padding: 80px 20px;

  background: linear-gradient(135deg, #0d6efd, #4dabf7);

  color: white;

  border-radius: 20px;
}

.hero-section h1 {
  font-weight: 700;
}

.hero-section p {
  font-size: 20px;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.card {
  border: none;

  border-radius: 15px;

  overflow: hidden;
}

.card:hover {
  transform: translateY(-6px);

  transition: 0.3s;
}

.btn {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-weight: 700;
}
/* ================= LOGIN & REGISTER ================= */

.auth-container {
  min-height: 75vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.auth-card {
  width: 100%;

  max-width: 450px;

  border: none;

  border-radius: 20px;

  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);

  padding: 40px;

  background: #fff;
}

.auth-card h2 {
  font-weight: 700;

  text-align: center;

  margin-bottom: 10px;
}

.auth-card p {
  text-align: center;

  color: #6c757d;

  margin-bottom: 30px;
}

.input-group-text {
  background: #0d6efd;

  color: white;

  border: none;
}

.form-control {
  height: 50px;
}

.btn-login {
  height: 50px;

  font-weight: 600;

  border-radius: 10px;
}

.auth-footer {
  text-align: center;

  margin-top: 20px;
}
/* Dashboard Sidebar */

.list-group-item {
  border: 0;

  padding: 15px 20px;

  font-weight: 500;
}

.list-group-item:hover {
  background: #0d6efd;

  color: white !important;

  transition: 0.3s;
}

.list-group-item i {
  margin-right: 10px;
}

.card-header {
  font-size: 18px;
}
