{% extends 'mywebsite/base.html' %} {% block title %} Change Password {%endblock%} 
{% block content %}

<h2>Change Password</h2>

{% if message %}
<p style="color: red">{{ message }}</p>
{% endif %} {% if success %}
<p style="color: green">{{ success }}</p>
{% endif %}

<form method="POST">
  {% csrf_token %}

  <p>
    Current Password <br />

    <input type="password" name="current_password" />
  </p>

  <p>
    New Password <br />

    <input type="password" name="new_password" />
  </p>

  <p>
    Confirm Password <br />

    <input type="password" name="confirm_password" />
  </p>

  <button type="submit">Change Password</button>
</form>

<br />

<a href="/dashboard/"> Back to Dashboard </a>

{% endblock %}
