{% extends 'mywebsite/base.html' %} {% block title %} Change Password
{%endblock%} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card shadow-lg">
      <div class="card-header bg-warning">
        <h3>Change Password</h3>
      </div>

      <div class="card-body">
        <form method="POST">
          {% csrf_token %}

          <div class="mb-3">
            <label>Current Password</label>

            <input
              type="password"
              name="current_password"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label>New Password</label>

            <input
              type="password"
              name="new_password"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label>Confirm Password</label>

            <input
              type="password"
              name="confirm_password"
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-warning">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
