{% extends 'mywebsite/base.html' %} {% block title %} Contact {% endblock %}
{%block content %}

<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card p-5">
      <h2 class="text-center mb-4">Contact Us</h2>

      <form>
        <div class="mb-3">
          <label>Name</label>

          <input type="text" class="form-control" placeholder="Enter Name" />
        </div>

        <div class="mb-3">
          <label>Email</label>

          <input type="email" class="form-control" placeholder="Enter Email" />
        </div>

        <div class="mb-3">
          <label>Subject</label>

          <input type="text" class="form-control" placeholder="Subject" />
        </div>

        <div class="mb-3">
          <label>Message</label>

          <textarea class="form-control" rows="5"></textarea>
        </div>

        <button class="btn btn-primary w-100">Send Message</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
