{% extends 'mywebsite/base.html' %} {% block title %} Login {% endblock %}
{%block content %}

<div class="auth-container">
  <div class="auth-card">
    <h2>Welcome Back 👋</h2>

    <p>Login to continue</p>

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label>Email</label>

        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-envelope-fill"></i>
          </span>

          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label>Password</label>

        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-lock-fill"></i>
          </span>

          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            required
          />
        </div>
      </div>

      <button class="btn btn-primary w-100 btn-login">Login</button>
    </form>

    <div class="auth-footer">
      Don't have an account?

      <a href="{% url 'register' %}"> Register </a>
    </div>
  </div>
</div>

{% endblock %}
