{% extends 'mywebsite/base.html' %} {% block title %} Register {% endblock %}
{%block content %}

<div class="auth-container">
  <div class="auth-card">
    <h2>Create Account</h2>

    <p>Join IT Institute</p>

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label>Name</label>

        <input type="text" name="name" class="form-control" required />
      </div>

      <div class="mb-3">
        <label>Mobile</label>

        <input type="text" name="mobile" class="form-control" required />
      </div>

      <div class="mb-3">
        <label>Email</label>

        <input type="email" name="email" class="form-control" required />
      </div>

      <div class="mb-3">
        <label>Password</label>

        <input type="password" name="password" class="form-control" required />
      </div>

      <button class="btn btn-success w-100 btn-login">Create Account</button>
    </form>

    <div class="auth-footer">
      Already have an account?

      <a href="{% url 'login' %}"> Login </a>
    </div>
  </div>
</div>

{% endblock %}
